.editor-container {
    background: white;
    padding: 1.5rem;
    border-radius: 10px;
  }
  
  .editor-container h1 {
    margin-top: 0;
  }
  
  .editor-container select {
    margin-bottom: 1rem;
  }
  